<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">María</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>
                    <li class="breadcrumb-item active">{{ titulo_pagina }}</li>
                </ol>
            </div>
            <h4 class="page-title d-flex align-items-center">
                {{ nombre_usuario }}
                <animated-icons
                    src="https://animatedicons.co/get-icon?name=Work%20Ethic&style=minimalistic&token=5359b304-fa32-4655-b5d8-71dd75b18ea1"
                    trigger="hover"
                    attributes='{"variationThumbColour":"#536DFE","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":1,"defaultColours":{"group-1":"#000000","group-2":"#121212FF","background":"#FFFFFF"}}'
                    height="50"
                    width="50"
                    style="margin-left: 10px;"
                ></animated-icons>
            </h4>
        </div>
    </div>
</div>
<script src="https://animatedicons.co/scripts/embed-animated-icons.js"></script>