{% load static %}
<!-- =============main.html======================== -->
<!DOCTYPE html>
<html lang="es">
<!-- ============================================================== -->

<head>
    <title>{{ titulo_pagina }}</title>
	{% include 'partials/title_meta.html' %}

	{% include 'partials/head-css.html' %}
    <link rel="stylesheet" href="{% static 'source/scss/new/ventana_modal_a/pop-up_crear_p.css' %}">
</head>

<body>
    <!-- Begin page -->
    <div class="wrapper">

        {% include 'partials/topbar.html' %}
        {% include 'partials/horizontal-nav.html' %}
        {% include 'partials/left-sidebar.html' %}

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">

                    {% include 'partials/page-title.html' %}
					
				</div> <!-- container -->

				<!-- consultar estudiante -->
				<div class="row">
					<!-- consultar estudiante -->
					<div class="col-lg-8 my-col">
						<div class="card">
							<div class="card-body">
								<div class="input-group">
									<input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Consulta por nombre de programa">
								</div>
							</div>
						</div>
						<br>
					</div>
					
					<!-- Bloque de botones -->
					<div class="col-lg-8 my-col">
						<div class="card">
							<div class="card-body">
								<div class="input-group">
								</div>
                                <div class="d-flex justify-content-end align-items-center gap-2">
                                    <!-- Botón para abrir el pop-up -->
                                    <button type="button" class="btn btn-soft-primary">
                                        <i class="mdi mdi-calendar-edit align-text-bottom me-1 fs-16 lh-1"></i>Costos generales
                                    </button>
                                    <button type="button" class="btn btn-soft-primary" data-popup="costos_Popup">
                                    <i class="mdi mdi-calendar-sync align-text-bottom me-1 fs-16 lh-1"></i>
                                        Costos
                                    </button>
                                    <button type="button" class="btn btn-soft-primary" data-popup="cortes_Popup">
                                    <i class="mdi mdi-calendar-sync align-text-bottom me-1 fs-16 lh-1"></i>
                                        Cortes
                                    </button>
                                </div>
							</div>
						</div>
					</div>
				</div>	
				
				<!-- Tablas tecnicos, diplomados y cursos -->
                <div class="row">
                        <div class="col-12">
                            <div class="card">
                                    <div class="table-responsive">
										<div class="profile-content">
													<ul class="nav nav-underline nav-justified gap-0">
														<li class="nav-item"><a class="nav-link custom-link" data-bs-toggle="tab"
																data-bs-target="#aboutme1" type="button" role="tab"
																aria-controls="home" aria-selected="true" href="#aboutme1">Costos generales</a>
														</li>
														<li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
																data-bs-target="#aboutme2" type="button" role="tab"
																aria-controls="about" aria-selected="true"
																href="#aboutme2">Costos</a>
                                                        </li>
														<li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
																data-bs-target="#aboutme3" type="button" role="tab"
																aria-controls="about" aria-selected="true"
																href="#aboutme3">Cortes</a>
                                                        </li>
													</ul>

													<div class="tab-content m-0 p-3">
														<div class="tab-pane fade" id="aboutme2" role="tabpanel"
															aria-labelledby="home-tab" tabindex="0">													
															<div class="row">
																<!-- Lista de Matricula - Programas -->
																	<div class="table-responsive-sm">
                                                                        <table class="table table-striped table-centered mb-0">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Nombre Programa</th>
                                                                                    <th>Semestre</th>
                                                                                    <th>Cuota Nº</th>
                                                                                    <th>Descripción Cuota</th>
                                                                                    <th>Fecha de Corte</th>
                                                                                    <th>Eliminar</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>Programa 1</td>
                                                                                    <td>Semestre 1</td>
                                                                                    <td>1</td>
                                                                                    <td>Cuota Mensual</td>
                                                                                    <td>2024-10-15</td>
                                                                                    <td>
                                                                                        <button class="btn btn-soft-danger btn-sm">
                                                                                            <i class="bi bi-x-circle"></i>
                                                                                        </button>
                                                                                    </td>
                                                                                </tr>
                                                                                <!-- Más filas según sea necesario -->
                                                                            </tbody>
                                                                        </table>
																	</div> 
																<!-- end table-responsive-->
															</div> <!-- end profile-desk -->
														</div>
                                                        <!-- about-me -->

                                                        <div class="tab-pane fade" id="aboutme3" role="tabpanel"
                                                            aria-labelledby="home-tab" tabindex="0">													
                                                            <div class="row">
                                                            <!-- Lista de Matricula - Programas -->
                                                                <table class="table table-striped table-centered mb-0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Nombre Programa</th>
                                                                            <th>Semestre</th>
                                                                            <th>Valor Matrícula</th>
                                                                            <th>Eliminar</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Programa 2</td>
                                                                            <td>Semestre 2</td>
                                                                            <td>$1,000,000</td>
                                                                            <td>
                                                                                <button class="btn btn-soft-danger btn-sm">
                                                                                    <i class="bi bi-x-circle"></i>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        <!-- Más filas según sea necesario -->
                                                                    </tbody>
                                                                </table>
                                                                </table>
                                                            <!-- end table-responsive-->
                                                            </div> <!-- end profile-desk -->
                                                        </div>
													</div>
												</div>
                                    </div>
                                    <!-- end .table-responsive-->
                                <!-- end card-body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                </div>
                <!-- end row -->
					
                <!-- Pop-up crear descuentos -->
                <div id="costos_Popup" class="popup_c_p" style="display:none;">
                    <div class="popup-content_c_p">
                        <span data-close="costos_Popup" class="close">&times;</span>
                        {% include 'modulos/administrar/p_financiero/v_financiero/ventana_costos/costos.html' %}
                    </div>
                </div>
                <!-- end crear descuentos-->
                
                <!-- Pop-up crear incrementos -->
                <div id="cortes_Popup" class="popup_c_p" style="display:none;">
                    <div class="popup-content_c_p">
                        <span data-close="cortes_Popup" class="close">&times;</span>
                        {% include 'modulos/administrar/p_financiero/v_financiero/ventana_costos/cortes.html' %}
                    </div>
                </div>
                <!-- end crear incrementos-->
            </div>
                <!-- end Permisos-->

        </div> <!-- container -->

    </div> <!-- content -->

            {% include 'partials/footer.html' %}

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    <!-- END wrapper -->

    {% include 'partials/right-sidebar.html' %}

    {% include 'partials/footer-scripts.html' %}

    <!-- Table Editable plugin-->
    <script src="{% static 'js/vendor/jquery.tabledit.min.js' %}"></script>

    <!-- Table editable init-->
    <script src="{% static 'js/pages/tabledit.init.js' %}"></script>

    <!-- Bootstrap Datepicker Plugin js -->
    <script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'js/app.min.js' %}"></script>
    
    <!-- Po-put -->
    <script src="{% static 'js/pop-pup.js' %}"></script>
</body>
</html>