<style>
    .card-header.custom-border {
        border-bottom: 3px solid #2263b8; 
        padding-bottom: 10px; 
        position: relative;
    }
    
    .card-header.custom-border h2 {
        margin-top: -10px;
        padding: 5px;
        color: #2263b8;
    }
</style>
<div class="card">
    <div class="card-header custom-border bg-white">
        <h2 class="text-center">Caja de compensación</h2>
    </div>
</div>
<button class="btn btn-soft-success toggleBtn" data-target="CAJA">
    <i class="bi bi-plus"></i> Crear
</button>
<div class="card" id="CAJA" style="display: none;">
    <div class="container my-3">
        <form class="row g-3" method="POST">
            {% csrf_token %}
            <input type="hidden" name="tipo" value="caja_compensacion">
            <input type="hidden" name="id_caja_compensacion" id="idCaja"> 
            <div class="col-md-12">
                <label class="form-label">Nombre</label>
                <input type="text" id="NombreCaja" name="nombre_caja" class="form-control" style="text-transform: uppercase;">
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-soft-success">
                    Agregar
                </button>
            </div>
        </form>
        <br>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-centered mt-2">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for cjp in caja_compensacion %}
            <tr>
                <td>{{ cjp.nombre_caja }}</td>
                <td>
                    <button class="btn btn-soft-info btn-sm btnCaja"
                        data-id="{{ cjp.id_caja_compensacion}}"
                        data-nombre="{{ cjp.nombre_caja}}">
                        <i class="bi bi-pencil-square"></i> 
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if messages %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        {% for message in messages %}
        Swal.fire({
            icon: "success",
            title: "{{ message }}",
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
        });
        {% endfor %}
    });
</script>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.btnCaja').forEach(btn => {
            btn.addEventListener('click', function () {
                let idCaja = this.getAttribute('data-id');
                let nombre = this.getAttribute('data-nombre')

                document.getElementById('idCaja').value = idCaja;
                document.getElementById('NombreCaja').value = nombre;

                document.getElementById('CAJA').style.display = 'block';
            })
        })
    })
</script>