<style>
    .card-header.custom-border {
        border-bottom: 3px solid #5a42c1;
        padding-bottom: 10px;
        position: relative;
    }

    .card-header.custom-border h2 {
        margin-top: -35px;
        padding: 5px;
    }
</style>


<div class="container mt-4">
    <div class="card">
        <div class="card-header custom-border bg-white">
            <h2 class="text-center text-purple">Registros de Módulos</h2>
        </div>
    </div>

    <!-- Formulario de módulos -->
    <form method="POST">
        {% csrf_token %}
        <div class="card p-3 mb-4">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="nombreModuloAbreviado" class="form-label">Nombre Módulo</label>
                    <input type="text" class="form-control" name="modulo_nombre" style="text-transform: uppercase;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="codigoCNO" class="form-label">Descripción</label>
                    <textarea class="form-control" name="descripcion_modulo" style="text-transform: uppercase;" rows="4"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="nombreModulo" class="form-label">Sede</label>
                    <select name="sedes" class="form-select">
                        <option value="">SELECCIONE</option>
                        {% for sede in sedes %}
                        <option value="{{ sede.id_sede }}">
                            {{ sede.nombre_sede }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="normaCNO" class="form-label">Tipo de Modulo</label>
                    <select name="tipo_modulo" class="form-select">
                        <option value="">SELECCIONE</option>
                        {% for modulo in tipo_modulos %}
                        <option value="{{ modulo.id_tipo_modulo }}">
                            {{ modulo.nombre_tipo }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Checkbox de requisitos 
        <div class="row mb-3 mt-3">
            <div class="col-md-12">
                <label class="form-label">Requisitos</label>
                <div class="d-flex flex-wrap">
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" id="requisitoAcademico">
                        <label class="form-check-label" for="requisitoAcademico">Académico</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" id="requisitoFinanciero">
                        <label class="form-check-label" for="requisitoFinanciero">Financiero</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" id="moduloPracticas">
                        <label class="form-check-label" for="moduloPracticas">Módulo de Prácticas</label>
                    </div>
                </div>
            </div>
        </div>
-->
            <!-- Botón de agregar -->
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-soft-purple">
                        <i class="bi bi-file-earmark-check-fill"></i> Crear
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
<script>
    {% for message in messages %}
    Swal.fire({
        icon: "{% if message.tags == 'success' %}success{% else %}warning{% endif %}",
        text: '{{ message }}',
        toast: true,
        timerProgressBar: true,
        timer: 2000,
        showConfirmButton: false,
        position: 'top-end',
    })
    {% endfor %}
</script>
{% endif %}