{% load static %}
<!-- =============main.html======================== -->
<!DOCTYPE html>
<html lang="es">
<!-- ============================================================== -->

<head>
    <title>| {{ titulo }}</title>
	{% include 'partials/title_meta.html' %}

	{% include 'partials/head-css.html' %}
    <link rel="stylesheet" href="{% static 'source/scss/new/ventana_modal_a/pop-up_crear_p.css' %}">
	<link rel="stylesheet" href="{% static 'source/scss/new/ventana_modal_a/v_administrar/pop-up_semestre.css' %}">

</head>

<body>
    <!-- Begin page -->
    <div class="wrapper">

        {% include 'partials/topbar.html' %}
        {% include 'partials/horizontal-nav.html' %}
        {% include 'partials/left-sidebar.html' %}

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">

                    {% include 'partials/page-title.html' %}
					
				</div> <!-- container -->

				<!-- consultar estudiante -->
				<div class="row">
					<!-- consultar estudiante -->
					<div class="col-lg-8 my-col">
						<div class="card">
							<div class="card-body">
								<div class="input-group">
									<input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Consulta por nombre de programa">
								</div>
							</div>
						</div>
						<br>
					</div>
					
					<!-- Bloque de botones -->
					<div class="col-lg-8 my-col">
						<div class="card">
							<div class="card-body">
								<div class="input-group">
								</div>
                                <div class="d-flex justify-content-end align-items-center gap-2">
                                    <!-- Botón para abrir el pop-up -->
                                    <button type="button" class="btn btn-soft-purple" data-popup="crear_p_c_Popup">
                                        <i class="mdi mdi-calendar-edit align-text-bottom me-1 fs-16 lh-1"></i>Crear Programas
                                    </button>
                                    <button type="button" class="btn btn-soft-purple" data-popup="PopuPensum">
                                        <i class="mdi mdi-calendar-edit align-text-bottom me-1 fs-16 lh-1"></i>Asignacion de Pensum
                                    </button>
                                    <button type="button" class="btn btn-soft-purple" onclick="location.href='{% url 'Incatec_administracion:modulos' %}'">
                                    <i class="mdi mdi-calendar-sync align-text-bottom me-1 fs-16 lh-1"></i>
                                        Crear Modúlos
                                    </button>
                                </div>
							</div>
						</div>
					</div>
				</div>	
				
				<!-- Tablas tecnicos, diplomados y cursos -->
                <div class="row">
                        <div class="col-12">
                            <div class="card">
                                    <div class="table-responsive">
										<div class="profile-content">
													<ul class="nav nav-underline nav-justified gap-0">
														<li class="nav-item"><a class="nav-link custom-link" data-bs-toggle="tab"
																data-bs-target="#aboutme1" type="button" role="tab"
																aria-controls="home" aria-selected="true" href="#aboutme1">Técnicos</a>
														</li>
														<li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
																data-bs-target="#aboutme2" type="button" role="tab"
																aria-controls="about" aria-selected="true"
																href="#aboutme2">Diplomados</a>
                                                        </li>
														<li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
																data-bs-target="#aboutme3" type="button" role="tab"
																aria-controls="user" aria-selected="true" href="#aboutme3">Cursos</a>
														</li>
														<li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
																data-bs-target="#aboutme4" type="button" role="tab"
																aria-controls="user" aria-selected="true" href="#aboutme4">Pensum</a>
														</li>
													</ul>

													<div class="tab-content m-0 p-3">
														<div class="tab-pane fade" id="aboutme1" role="tabpanel"
															aria-labelledby="home-tab" tabindex="0">													
															<div class="row">
																<!-- Lista de Matricula - Programas -->
																	<div class="table-responsive-sm">
																		<table class="table table-striped table-centered mb-0">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Nombre de Programa</th>
                                                                                    <th>Estado</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                {% for pg in programas %}
                                                                                    {% if pg.id_tipos_programas.nombre == 'Programas Técnicos' %}
                                                                                    <tr>
                                                                                        <td>
                                                                                            {{ pg.nombre_programa }}
                                                                                        </td>
                                                                                        <td>
                                                                                            {% if pg.estado %}
                                                                                                <span class="badge bg-success">Activo</span>
                                                                                            {% else %}
                                                                                                <span class="badge bg-danger">Inactivo</span>
                                                                                            {% endif %}
                                                                                        </td>
                                                                                    </tr>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </tbody>
																		</table>
																	</div> 
																<!-- end table-responsive-->
															</div> <!-- end profile-desk -->
														</div>
                                                        <!-- about-me -->

                                                        <div class="tab-pane fade" id="aboutme2" role="tabpanel"
                                                        aria-labelledby="home-tab" tabindex="0">													
                                                        <div class="row">
                                                            <!-- Lista de Matricula - Programas -->
                                                                <div class="table-responsive-sm">
                                                                    <table class="table table-striped table-centered mb-0">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Nombre de Diplomado</th>
                                                                                <th>Estado</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for pg in programas %}
                                                                                {% if pg.id_tipos_programas.nombre == 'Diplomados' %}
                                                                                <tr>
                                                                                    <td>
                                                                                        {{ pg.nombre_programa }}
                                                                                    </td>
                                                                                    <td>
                                                                                        {% if pg.estado %}
                                                                                            <span class="badge bg-success">Activo</span>
                                                                                        {% else %}
                                                                                            <span class="badge bg-danger">Inactivo</span>
                                                                                        {% endif %}
                                                                                    </td>
                                                                                </tr>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div> 
                                                            <!-- end table-responsive-->
                                                        </div> <!-- end profile-desk -->
                                                        </div>

                                                        <div class="tab-pane fade" id="aboutme3" role="tabpanel"
                                                        aria-labelledby="home-tab" tabindex="0">													
                                                        <div class="row">
                                                            <!-- Lista de Matricula - Programas -->
                                                                <div class="table-responsive-sm">
                                                                    <table class="table table-striped table-centered mb-0">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Nombre de Cursos</th>
                                                                                <th>Estado</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for pg in programas %}
                                                                                {% if pg.id_tipos_programas.nombre == 'Cursos' %}
                                                                                <tr>
                                                                                    <td>
                                                                                        {{ pg.nombre_programa }}
                                                                                    </td>
                                                                                    <td>
                                                                                        {% if pg.estado %}
                                                                                            <span class="badge bg-success">Activo</span>
                                                                                        {% else %}
                                                                                            <span class="badge bg-danger">Inactivo</span>
                                                                                        {% endif %}
                                                                                    </td>
                                                                                </tr>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div> 
                                                            <!-- end table-responsive-->
                                                        </div> <!-- end profile-desk -->
                                                        </div>
                                                        <div class="tab-pane fade" id="aboutme4" role="tabpanel"
                                                        aria-labelledby="home-tab" tabindex="0">													
                                                        <div class="row">
                                                            <!-- Lista de Matricula - Programas -->
                                                                <div class="table-responsive-sm">
                                                                    <table class="table table-striped table-centered mb-0">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Nombre de Programa</th>
                                                                                <th>Nombre de Pensum</th>
                                                                                <th class="text-center">Año de vigencia</th>
                                                                                <th>Estado</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for pen in pensum %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{ pen.id_programa.nombre_programa }}
                                                                                </td>
                                                                                <td>
                                                                                    {{ pen.nombre }}
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    {{ pen.anio_vigencia }} 
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    {% if pen.activo %}
                                                                                    <input type="checkbox" class="form-check-input bg-success border-success desactivar" 
                                                                                        data-id="{{ pen.id_pensum }}"
                                                                                        checked>
                                                                                    {% else %}
                                                                                        <input type="checkbox" disabled class="form-check-input">
                                                                                    {% endif %}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div> 
                                                            <!-- end table-responsive-->
                                                        </div> <!-- end profile-desk -->
                                                        </div>
													</div>
												</div>
                                        <table class="table table-centered mb-0 table-nowrap" id="inline-editable">
                                        </table>
                                    </div>
                                    <!-- end .table-responsive-->
                                <!-- end card-body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                </div>
                <!-- end row -->
					
                <!-- Pop-up crear programa -->
                <div id="crear_p_c_Popup" class="popup_c_p" style="display:none;">
                    <div class="popup-content_c_p">
                        <span data-close="crear_p_c_Popup" class="close">&times;</span>
                        {% include 'modulos/administrar/p_academico/v_academico/crear_programa.html' %}
                    </div>
                </div>
                <div id="PopuPensum" class="popup_se" style="display:none;">
                    <div class="popup-content_se">
                        <span data-close="PopuPensum" class="close">&times;</span>
                        {% include 'modulos/administrar/p_academico/v_academico/crear_pensum.html' %}
                    </div>
                </div>
                <!-- end crear programa-->
            </div>
                <!-- end Permisos-->

        </div> <!-- container -->

    </div> <!-- content -->

            {% include 'partials/footer.html' %}

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    <!-- END wrapper -->

    {% include 'partials/right-sidebar.html' %}

    {% include 'partials/footer-scripts.html' %}

    <!-- Table Editable plugin-->
    <script src="{% static 'js/vendor/jquery.tabledit.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.desactivar').forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    const idPensum = this.getAttribute('data-id');
        
                    if (!this.checked) {
                        Swal.fire({
                            title: '¿Desactivar Pensum?',
                            text: "Esta acción no se puede deshacer 🛑",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Sí, desactivar',
                            cancelButtonText: 'Cancelar'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                fetch("{% url 'Incatec_administracion:programas' %}", {
                                    method: 'POST',
                                    headers: {
                                        'X-CSRFToken': '{{ csrf_token }}',
                                        'Content-Type': 'application/x-www-form-urlencoded'
                                    },
                                    body: `tipo=desactivar_pensum&id_pensum=${idPensum}`
                                })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        Swal.fire('✅ Desactivado', data.message, 'success')
                                        .then(() => location.reload());
                                    } else {
                                        Swal.fire('🚫 Error', data.message, 'error');
                                        this.checked = true; 
                                    }
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                    Swal.fire('🚨 Error', 'No se pudo completar la acción.', 'error');
                                    this.checked = true;
                                });
                            } else {
                                this.checked = true; 
                            }
                        });
                    } else {
                        Swal.fire('Acción no permitida 🚫', 'No puedes volver a activar un Pensum.', 'warning');
                        this.checked = false; 
                    }
                });
            });
        });
    </script>
        
        
    <!-- Table editable init-->
    <script src="{% static 'js/pages/tabledit.init.js' %}"></script>

    <!-- Bootstrap Datepicker Plugin js -->
    <script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'js/app.min.js' %}"></script>
    
    <!-- Po-put -->
    <script src="{% static 'js/pop-pup.js' %}"></script>
</body>

</html>